<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokedex</title>

</head>
<body>
    <header>
        <nav>
            <a href="/" id="home">Pokedex</a>
            <div>
                <form action="/search" method="post">
                    <input type="text" name="nom" >
                    <input type="submit" value="Rechercher">
                </form>
              <a href="/types">Liste des types</a>
            </div>
        </nav>
    </header>

    <main>