<%- include('partials/header') %>

<div class="row">
    Oups ! Nous n'avons pas trouvé la page que vous cherchez, malheureusement :(
</div>
<img src="/img/70.png" alt="">

<%- include('partials/footer') %>